$main-color: rgb(50, 50, 50, 0.97);
$second-color: rgba(144, 62, 62, 0.9);
$active-color: rgba(122, 48, 48, 0.9);
$main-text-color: #e0e0e0;
$page-bg-color: rgb(240, 240, 240);

$secondar_text_color: rgba(130, 130, 130, 0.9);
$border_color: rgba(130, 130, 130, 0.5);
$second-border-color: rgba(144, 62, 62, 0.4);
